<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="ConexionBD.Properties.Settings.empleadosConnectionString"
            connectionString="Data Source=DESKTOP-2BB6TGV\SQLEXPRESS;Initial Catalog=empleados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>